<div class="left">
  <div class="container" id="hero-div">

    <%= image_pack_tag "logo.png", id: "hero-logo" %>
  </div>
  <div class="hero">
    <h1>Darth::Coder();</h1>
    <h2>// May The Source Be With You</h2>
  </div>
  <div class="buttons row">
    <div class="col-sm-12">
      <%= link_to "Log in", new_team_session_path, class: "link-main", id: "about" %>
      <%= link_to "Log out", destroy_team_session_path, method: :delete, class: "link-main" %>

    </div>

  </div>
  <div class="buttons row">
    <% if team_signed_in? %>
      <div class="col-sm-12">
        <%= link_to "Start", code_path(level: 1), class: "link-main" %><br>

      </div>


    <% end %>
  </div>
  <% if team_signed_in? %>
    <h4>Participant 1: </h4> <span><%=  current_team.name_p1 %></span><br>
    <h4>Participant 2: </h4> <span><%= current_team.name_p2 %></span>

<% end %>
  <footer>
    Created by Aniket Bhattacharyea
  </footer>
</div>
<div class="right" data-simplebar>
  <h4>Rules</h4>
  <div id="links">
  </div>
  <div class="container">
    <ol>

      <li>Either individual entries or a team of two is allowed.</li>
      <li>You will be provided a workstation. No need to carry Laptops.</li>
      <li>The languages available are C, C++ (03, 11, 14), Java (7, 8, 9), Python (3.6.0, 2.7.9), and Kotlin. The participants are free to choose any language and the choice can be changed anytime.</li>
      <li>There will be 5 levels. Each level will consist of 1 question, the solution of which will be an integer. The participants will have to write a code that finds and prints the answer.</li>
      <li>Once the participants successfully complete a level, they will be given access to the next level.</li>
      <li>Scores shall be based on - the current level, time taken (starting from the start of the level till the correct answer is recorded), and number of wrong attempts.</li>
      <li>The participants are allowed to run the code locally as many times as they want. Once the code is submitted, if the answer is valid, they can proceed to the next level, otherwise it will count as a wrong answer and points shall be deducted. The participants can submit as many times as they want.</li>
      <li>The participants must carry their college ID cards/proofs.</li>
      <li>Conclusions made by the governing body will be absolute & unchangeable.</li>

    </ol>
  </div>

  <div>
  <!-- <div><span id="python"></span></div> -->
</div>
</div>