@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
//@import "~@fortawesome/fontawesome-free/css/all";
@import "dialog";
@import "./codemirror";
@import "./ide";

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Cutive+Mono|B612+Mono');
$main-color: #d64541;
$main-color-light: #e27c79;
$main-color-dark: #a02622;
$body-font: 'Anonymous Pro', monospace;
$heading-font: 'Cutive Mono', monospace;
$heading-font2: 'B612 Mono', monospace;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //overflow: hidden;
}

html, body {
  font-family: $body-font;
  font-size: 10px;
  //color: white;

}

footer {
  position: absolute;
  bottom: 0;
}

#random {
  margin: 20px;
  text-align: center;
  color: $main-color;
}

#fact {
  margin-top: 10px;
  padding: 5%;
}
.left {
  float: left;
  color: black;
  background-color: white;
  width: 50%;
  height: 100vh;
  padding: 2%;
}

#hero-div {
  text-align: center;
}

.right {
  float: right;
  background-color: black;
  color: white;
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  form {
    padding: 2%;
  }
  ol {
    margin-left: 1rem;
    list-style-position: inside;
    color: white;
    li {
      display: list-item;
    }
  }
}

.col-sm-12 {
  padding: 2%;
  text-align: center;
}

#links-found {
  color: $main-color;
}

.link {
  background-color: #d64541;
  &:hover {
    text-decoration: none;
    color: black;
    background-color: #d64541;
  }
  border-radius: 4px;
  display: inline-block;
  padding: 10px;
  color: white;
  margin: 10px;
}

pre {
  // min-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  code {
    min-height: 100%;
    background-color: white !important;
  }
}

h1 {
  font-size: 380%;
  font-weight: 200;
  color: $main-color;
  font-family: $heading-font;
  word-wrap: break-word;
}

h2 {
  font-size: 150%;
  font-family: $heading-font;
}

h3 {
  font-size: 100%;
  font-family: $heading-font2;
}

h4 {
  color: $main-color;
  padding: 1%;
}

.hero {
  padding: 2%;
}

.actions {
  margin-top: 5%;
}
a.link-main {
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  font-family: 'Major Mono Display', monospace;
  &.active {
    color: $main-color;
  }
}

@media only screen and (max-width: 600px) {
  html,body {
    font-size: 8px;
    overflow-y: scroll;
  }

  .left {
    float: none;
    width: 100%;
    height: auto;
  }
  .right {
    float: none;
    width: 100%;
    height: auto;
  }

}

@media only screen and (max-width: 900px) {
  html, body {
    font-size: 10px;
  }
}

@include media-breakpoint-up(lg) {
  html,body {
    font-size: 15px;
  }

}
