<div class="left">
  <div class="container" id="hero-div">

    <%= image_pack_tag "logo.png", id: "hero-logo" %>
  </div>
  <div class="hero">
    <h1>Darth::Coder();</h1>
    <h2>// May The Source Be With You</h2>
  </div>
  <div class="buttons row">
    <div class="col-sm-12">
      <%= link_to "Log out", destroy_team_session_path, method: :delete, class: "link-main" %>

    </div>


  </div>

  <footer>
    Created by Aniket Bhattacharyea
  </footer>
</div>
<div class="right" data-simplebar>
  <div id="links">
  </div>
  <div class="container">
    <p><h1>Congratulations</h1>
      You have done it! You have completed Darth::Coder();<br>
      It was not an easy task, and you have proved yourself worthy of the Force.
    </p>
  </div>

  <div>
    <!-- <div><span id="python"></span></div> -->
  </div>
</div>