<h2>Leaderboard</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Rank</th>
    <th scope="col">Team id</th>
    <th scope="col">Participant 1</th>
    <th scope="col">Participant 2</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <% @scores.each do |score| %>
  <tr>
    <th scope="row"><%= score.rank %></th>
    <td><%= score.team_id %></td>
    <td><%= score.name_p1 %></td>
    <td><%= score.name_p2 %></td>
    <td><%= score.total %></td>
  </tr>
  <% end %>
  </tbody>
</table>

