
<nav class="navbar  navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://ide.judge0.com">
        Darth Coder
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a id="apiLink" target="_blank" href=""></a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button id="insertTemplateBtn" type="button" class="btn btn-outline-light mr-sm-2" data-toggle="tooltip" data-placement="bottom" title="Insert template">
        <span class="fas fa-file-word" aria-hidden="true"></span>
      </button>
      <select class="form-control mr-sm-2" id="selectLanguageBtn">
        <option value="4" mode="text/x-csrc">C (gcc 7.2.0)</option>
        <option value="5" mode="text/x-csrc">C (gcc 6.4.0)</option>
        <option value="6" mode="text/x-csrc">C (gcc 6.3.0)</option>
        <option value="7" mode="text/x-csrc">C (gcc 5.4.0)</option>
        <option value="8" mode="text/x-csrc">C (gcc 4.9.4)</option>
        <option value="9" mode="text/x-csrc">C (gcc 4.8.5)</option>
        <option value="10" mode="text/x-c++src">C++ (g++ 7.2.0)</option>
        <option value="11" mode="text/x-c++src">C++ (g++ 6.4.0)</option>
        <option value="12" mode="text/x-c++src">C++ (g++ 6.3.0)</option>
        <option value="13" mode="text/x-c++src">C++ (g++ 5.4.0)</option>
        <option value="14" mode="text/x-c++src">C++ (g++ 4.9.4)</option>
        <option value="15" mode="text/x-c++src">C++ (g++ 4.8.5)</option>
        <option value="22" mode="text/x-go">Go (1.9)</option>
        <option value="26" mode="text/x-java">Java (OpenJDK 9 with Eclipse OpenJ9)</option>
        <option value="27" mode="text/x-java">Java (OpenJDK 8)</option>
        <option value="28" mode="text/x-java">Java (OpenJDK 7)</option>
        <option value="29" mode="text/javascript">JavaScript (nodejs 8.5.0)</option>
        <option value="34" mode="text/x-python">Python (3.6.0)</option>

      </select>
      <button class="btn btn-success mr-sm-3" id="runBtn" data-loading-text="Running...">
       Run
      </button>
      <button class="btn btn-success mr-sm-3" id="submitBtn" data-loading-text="Submitting...">
        Submit
      </button>
      <button class="btn btn-primary mr-sm-3" id="saveBtn" data-loading-text="Saving...">
        Save
      </button>
      <button class="btn btn-primary mr-sm-3" id="skipBtn" data-loading-text="Skipping...">
        Skip
      </button>
      <button class="btn btn-outline-light mr-sm-3" id="loadBtn" data-toggle="tooltip" data-placement="bottom" title="Load previously saved draft">
         Load Saved Draft
      </button>

    </form>

  </div>
</nav>

<div id="sourceEditor"></div>

<div class="container-fluid">
  <div class="row labels">
    <div id="questionLabel" class="col-3 col-sm-3 col-md-3 col-lg-3">
      <h4>
        <span class="fas fa-sign-in-alt" aria-hidden="true"></span> Question <small>(<%= @level.max_score %> marks)</small>

      </h4>

    </div>
    <div id="inputLabel" class="col-3 col-sm-3 col-md-3 col-lg-3">
      <h4>
        <span class="fas fa-sign-in-alt" aria-hidden="true"></span> Input <small>optional</small>
        <button class="btn btn-outline-dark my-sm-2" id="downloadInputBtn" data-toggle="tooltip" data-placement="top" title="Download input">
          <span class="fas fa-download" aria-hidden="true"></span>
        </button>
      </h4>
    </div>
    <div id="outputLabel" class="col-6 col-sm-6 col-md-6 col-lg-6">
      <h4>
        <span class="fas fa-sign-out-alt" aria-hidden="true"></span> Output <small id="emptyIndicator">empty</small>
        <button class="btn btn-outline-dark my-sm-2" id="downloadOutputBtn" data-toggle="tooltip" data-placement="top" title="Download output">
          <span class="fas fa-download" aria-hidden="true"></span>
        </button>
        <small class="pull-right" id="statusLine"></small>
      </h4>
    </div>
  </div>

  <div class="row ioEditors">
    <div class="col-3 col-lg-3">
      <p><%= @level.question_body %></p>

    </div>
    <div id="inputEditor" class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
    <div id="outputEditor" class="col-6 col-sm-6 col-md-6 col-lg-6"></div>
  </div>

  <div class="row">
    <div id="footer" class="col-12 col-sm-12 col-md-12 col-lg-12">
      <p>
        Powered by <a href="https://api.judge0.com">Judge0 API</a>,
      </p>
    </div>
  </div>
</div>
<script>var level = "<%= @level.level %>"</script>